<% form_for :user, :url => {:action => 'forgot_password'} do |form| %>
        <fieldset>
     <legend>Password Reset Request</legend>
         <p>Please enter your email address that we have in our records. We will send you a
         password reset link by email.</p>
            <p>
                <label for="user_email" >Email Address:</label><br/>
                <%= form.text_field :email, :size => 35, :class => 'text' %>
            </p>
            <%= submit_tag 'Submit' %>
        </fieldset>
    <% end %>

