<% if @users.any? %>
<h1>Listing users</h1>

<table>
  <tr>
    <th>Login</th>
    <th>EMail</th>
	<th>State</th>	
  </tr>

<% for user in @users %>
  <tr>
    <td><%=h user.login %></td>
    <td><%=h user.email %></td>
    <td><%=h user.state %></td>
  </tr>
<% end %>
</table>
<% else %>
<p> There are no users to list here. Btw, didn't the migration to setup first user run. </p>
<%end%>

<br />

