<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title> PDF Download Section</title>
	</head>
	<body>
		<p>Hello writting PDF</p>
		<p>
			<%= @pass %>
		</p>	
		
	</body>
</html>

<%= link_to 'Download PDF',  pdfdownload_url(:id => params[:id]) %>